<h1>Tasks#index</h1>

<h2>Baseline</h2>
<ul>
  <% @tasks.each do |task| %>

    <li><%= task.id %>. <%= link_to task.name, task_path(task.id) %>: <%= link_to task.description, task_path(task.id) %> </li>

  <% end %>
</ul>
