// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tasks {
  display: inline-block;
  background: #f2f2f2;
  padding: 20px;
  margin: 20px;
  // max-width: 40%;
}

.page_title {
  background-color: blue;
}
